<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Jacob Cassady</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header>
        <div class="dropdown row">
            <button class="dropbtn">&#8595;</button>
            <div class="dropdown-content">
                <a href="{{ url_for ('home') }}"><h3>Home</h3></a>
                <a href="{{ url_for ('about') }}"><h3>Who Am I?</h3></a>
            </div>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="bottom-navbar">
            <p>Follow me on social media: </p>
            <a href="https://www.instagram.com/jacob_cassady">Instagram</a>
            <a href="https://www.facebook.com/jaketcassady">Facebook</a>
            <a href="https://github.com/jtcass01">GitHub</a>
            <a href="https://www.linkedin.com/in/jacob-cassady-315497120/">LinkedIn</a>
        </div>
    </footer>
</body>

</html>