{% extends "layout.html" %}

{% block content %}
<h2>{{ title }}:</h2>

<div class="center-img">
    <p><img src="static/images/cassady_portrait.jpg" alt="Portrait" height="379" width="303"></p>
</div>

<p>
    I first began college in the Fall of 2013 as a biology student with hopes of becoming a surgeon.
    During the Summer of 2014, I attended the Summer Medical and Dental Education Program at the University of Louisville where we spent 6 weeks learning from professors of the University of Louisville&#39s School of Medicine on the physiology and biochemistry of atherosclerosis, osteoporosis, and diabetes.
    Being part of the program was a true honor and much of what I gained there as far as professionalism and work ethic has stayed with me.
    We were introduced to different areas of the medical field and I shadowed my first surgery which brought my initial doubts about my career path.
</p>

<p>
    In December of 2014, I began working in Norton Hospital emergency rooms across Louisville including their Downtown, Audubon, and Brownsboro locations.
    I was tasked with filling out medical records for incoming patients including their subjective account of their symptoms, and the medical practitioner&#39s physical examination findings.
    This required me to work overnight shifts through the week and weekends on top of my classes.
    I would spend the late nights doing programming tutorials on websites like codeacademy and khanacademy to pass the time.
    After 11 months of working the ER, I began to fear I had the stomach for the job but not the heart.
    Standing by and watching families endure the typically unthinkable moments in life took a heavy toll on my daily wellbeing.
    I began to look at computer programming as something better fit for me, and even more importantly something I was passionate about and enjoyed.
</p>

<p>
    Starting the Fall of 2015, I reluctantly left the medical field and transferred to the University of Louisville&#39s J.B. Speed School of Engineering to study Computer Engineering and Computer Science without telling my family.
    I quickly fell deeper in love with programming and took a year off from working to focus on my studies.
    I succeeded with ease in all of my programming classes but struggled initially in calculus.
    With hard work, I began to gain steam with every math class receiving a B- in Calc 1, B in Calc 2, B+ in Calc 3, and a B in differential equations.
</p>

<p>
    Once I felt comfortable with my new career path, I joined my university&#39s rocket team, River City Rocketry (RCR), in August of 2016.
    At the time RCR competed in a yearly university competition sponsored by NASA called NASA Student Launch (NSL) which was designed to prepare college students for the Human Exploration and Operations workforce.
    My first year, I rose to Software Design Lead for our Variable Drag System (VDS) subsystem under the lead of Ben Stringer.
    This gave me initial experience with sensors and simple embedded systems such as arduinos, teensys, raspberry pis, and beaglebones.
    This year&#39s team was full of incredible talent with students who will later work for companies such as SpaceX, Gulfstream, Raytheon, and more.
    After many setbacks and months of hard work, our team received first place in NSL with our VDS subsystem reducing our rocket&#39s apogee to only 22 feet off of our target altitude of one mile (percent error ~0.4%).
</p>

<p>
    During the Spring of 2017, I began my first University Space Research Association (USRA) internship at NASA Johnson Space Center (JSC) in Houston, Texas.
    I worked in the EVA Management directorate as the only intern on a small project.
    My job was to retrieve extravehicular activity (EVA) related engineering records from different engineering databases and organize them within the EVA Management database.
    Although I enjoyed learning about space suits, I felt this job was far from what I envisioned working on at NASA.
    I took the job seriously though and developed a program to scrape documents from the web, classify the documents based on metadata, and place the document into our database.
    I had no education on machine learning classification systems so my program had to include hard coded logical hierarchies to determine a purposed filing location.
    Seeing the hole in my education, I began taking machine learning classes on udemy during lunch and after work although I never reached a proficiency in time to apply these concepts to this project.
</p>

<p>
    After spending the summer returning to classes at UofL, I received my second USRA internship at NASA JSC during the Fall of 2017 this time working in the Spacecraft Software Engineering Branch (ER6) in support of Orion Multipurpose Crew Vehicle&#39s (MPCV) Ascent Abort 2 Test.
    My project, along with another intern, was to develop an application for decoding and analyzing the Electronic Data Recorders jettisoned during the descent of AA2.
    Our task was to calculate bit error rates as well as retrieve parameters from byte streams and work towards plotting different parameters from the data.
    Due to the large amount of processing required, the project drove me to learn about multithreading, multiprocessing, CPU and memory usage and how to make them more efficient.
    Furthermore, I continued my machine learning studies this time looking to the Deep Learning Specialization on Coursera taught by Stanford professor Andrew Ng.
</p>

<p>
    With more experience in the field, I began to worry the education I was receiving on circuits would not sufficient for the level of expertise I was striving for.
    I found I could supplement my computer programming education with online classes but it was hard for me to receive the same level of formal education in hardware.
    As a result, I picked up Electrical and Computer Engineering as a second major beginning in the Spring of 2018.
    This pushed my graduation date back only a year but would allow me to gain valuable knowledge in the most streamlined fashion.
</p>

<p>
    Since the beginning of my NASA journey, I was determined to become a Pathways Intern which is the avenue NASA hires the majority of their civil servants.
    Since January of 2017, I applied every semester to every NASA center.
    After being rejected semester, after semester totaling to over 15 rejection letters and 8 interviews without being selected, I finally received three Pathways Internship offers at different centers with NASA Langley Research Center (LaRC) in Hampton, Virginia being the first to offer me a position.
</p>

<p>
    This summer (2018) is my first semester working as a Pathways Intern at LaRC under the Flight Software Systems Branch.
    I am working on the ARCSTONE mission under the guidance of my mentor who is the only software engineer on the project.
    ARCSTONE or Achieving Instrument High Accuracy In-Orbit is a CubeSat mission which aims to develop a model of our moon describing lunar irradiance as it relates to solar irradiance.
</p>

{% endblock %}
