{% extends "layout.html" %}

{% block content %}

<center><h1>{{ title }}</h1></center>

<address>
    <strong><abbr title="E-mail">E:</abbr></strong>
    jtcass01@louisville.edu<br />
    <strong><abbr title="Phone">P:</abbr></strong>
    502.648.5187
</address>

<h3>Social Media:</h3>
<address>
    <a href="https://www.instagram.com/jacob_cassady">Instagram</a><br />
    <a href="https://www.facebook.com/jaketcassady">Facebook</a><br />
    <a href="https://github.com/jtcass01">GitHub</a><br />
    <a href="https://www.linkedin.com/in/jacob-cassady-315497120/">LinkedIn</a><br />
    <a href="https://twitter.com/Jacob_Cassady">Twitter</a>
</address>

{% endblock %}
