{% extends "layout.html" %}

{% block content %}

<center><h1>{{ title }}</h1></center>

<div class="project-year text-container">
    <h2>2018</h2>
    <div class="project">
        <h3>Sign-Interfaced Machine Operating Network (SIMON)</h3>
        <h5>Personal Project</h5>
        <h4>Abstract (v1.2):</h4>
        <p>
            The purpose of the Sign-Interfaced Machine Operating Network, or SIMON, is to develop a machine learning classifier capable of detecting a discrete set of American Sign Language (ASL) presentations from captured images of a hand and producing a desired response on another system.
            SIMON can utilize a variety of neural networks (nets) for producing its predictions including a classic deep neural net and a ResNet50 convolutional model.
            SIMON’s neural nets were trained on 6 targets using 1200 images (200 of each representation).
            The training and test sets included 1080 and 120 images respectively.
            SIMON utilizes its neural nets to produce a discrete value from an image input matching the target’s class enumeration.
            Images for demonstration were taken using a laptop webcam.
            Predictions are represented in ASCII and are sent across a serial connection to a response machine.
            This project created a response machine from a Raspberry Pi Model 3 B+, a 5050 LED light strip, and a button.
            The goal of this project was to produce the correct color response from the LED light strips given an image containing an ASL representation included in our models’ training.
            This goal was accomplished at its most baseline level although there were some issues and inconsistencies in the neural nets performances including differences in data distributions from training to production as well as distortions in the production data due to preprocessing techniques.
            SIMON was developed using Python 3.6 as well as a variety of 3rd party modules and tested on both Windows 10 and Ubuntu 17.
        </p>

        <ul>
            <li>
                <a href="{{ url_for('simon') }}">Project Page</a>
            </li>
            <li>
                <a href="https://github.com/jtcass01/SIMON">Git Repository</a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=DxSEFz9Di6I">Video Demonstration</a>
            </li>
        </ul>
    </div>

    <div class="project">
        <h3>RC8 Python API</h3>
        <h5>Project developed for Next Generation Systems Robotics Lab at the University of Louisville's JB Speed School of Engineering.</h5>
        <p>*Coming soon...*</p>
    </div>
</div>

<div class="project-year text-container">
  <h2>2017</h2>
  <div class="project">
    <h3>Variable Drag System (VDS)</h3>
    <p>*Coming soon...*</p>
  </div>
</div>

{% endblock %}
